body {
    background: url("../images/pattern.jpg");
}

.error-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(255, 255, 255, .7);
}